body, html {
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
hr {
    border-width: 1px;
    border-style: solid;
}

#content {
    margin: 0 auto;
    width: 800px;
    text-align: left;
    background-color: rgb(151,151,51);
}

#menublock {
    background-color: rgb(100,150,67);
}

#leftside {
    background-color: rgb(180,110,67);
    width: 200px;
    height: 200px;
    float:left;
}

#side {
    background-color: rgb(110,180,67);
    margin-left: 220px;
    margin-right: 220px;
    height: 50px;
}

#rightside {
    background-color: rgb(110,220,110);
    width: 200px;
    float: right;

}

#contacts {
    background-color: rgb(80,180,167);
    clear:both;
}