body{
    margin: 0px;
    width: 100%;
    height: 100%;
}
div {
    border-width: 1px;
    border-style: solid;
    border-color: #6495ed;
}

div.header {
    width: 100%;
    margin: 0px;
}

div.footer {
    width: 100%;
    margin: 0px;
}

div.content {
    height: 100%;
    width: 100%;
}